$background: #19232c;
$panel: #203040;
$divider: #354051;
$main-text: #f7ffff;
$secondary-text: #7e919f;
$action-text: #3D9AED;
$chip-color: #3aa4fb;
$warning-color: #F79600;
$error-color: #F53A2F;
$success-color: #49da61;
