@import '../../constants/colors.scss';
.dock {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $panel;
    border-top: 1px solid $divider;
    color: white;
    text-align: center;
    height: 60px;
    flex-direction: row;
    justify-content: space-around;

    .button {
        display: flex;
        width: 60px;
        height: 60px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .img {
            height: 38px;
            width: 38px;
            box-sizing: border-box;
            border-radius: 50%;
           // border: 1px solid $secondary-text;
        }
        .label {
            font-size: 11px;
            letter-spacing: 1px;
            line-height: 12px;
            font-weight: 200;
            color: $secondary-text;
        }
    }
}
