@import "../../constants/colors.scss";

.block-label {
    text-transform: uppercase;
    color: $secondary-text;
    font-size: 15px;
    margin: 25px auto 5px 10px;
}

.block {

    .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 30px;
        background-color: $background;
        border-top: 1px solid $divider;
        padding: 4px 15px 4px 15px;
        .label {
            color: $main-text;
        }

        .value {
            color: $secondary-text;
        }
    }
    .item-panel {
        background-color: $panel;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;

        
    }
    .block-item:last-child{
        border-bottom: 1px solid $divider;
    }
}
